## Inital Python Learning

# Data types

### Numbers

In [2]:
1 + 2

3

In [3]:
1 * 3

3

In [4]:
1 / 2

0.5

In [5]:
2 ** 3

8

In [7]:
11 % 2

1

In [8]:
9 % 2

1

In [9]:
(12 + 3) * (2 + 2)

60

## Variables

In [10]:
# name of variable ought to start with alpha not numbers or special chars
name_of_var = 2

In [16]:
a  = 5
b  = 2

In [17]:
c = a + b

In [18]:
c

7

## Strings

In [19]:
'in single quotes'

'in single quotes'

In [20]:
"in double quotes"

'in double quotes'

In [21]:
" other mixed up quotes like it's "

" other mixed up quotes like it's "

## Printing

In [22]:
a = 'hello'

In [23]:
a

'hello'

In [24]:
print(a)

hello

In [25]:
num1 = 10
name = 'Joe'

In [26]:
print('The number is: {one}, and name is: {two}'.format(one=num1,two=name))

The number is: 10, and name is: Joe

In [27]:
print('The number is: {}, and name is: {}'.format(num1,name))

The number is: 10, and name is: Joe

## Lists

In [28]:
[5,4,3]

[5, 4, 3]

In [29]:
['x',1,[1,2]]

['x', 1, [1, 2]]

In [30]:
list1 = ['a','b','c']

In [31]:
list1.append('d')

In [32]:
list1

['a', 'b', 'c', 'd']

In [33]:
list1[0]

'a'

In [34]:
list1[1]

'b'

In [35]:
list1[1:]

['b', 'c', 'd']

In [36]:
list1[0] = 'NEW'

In [37]:
list1

['NEW', 'b', 'c', 'd']

In [42]:
nest = [1,2,3,[4,5,['abc']]]

In [43]:
nest[3]

[4, 5, ['abc']]

In [44]:
nest[3][2]

['abc']

In [45]:
nest[3][2][0]

'abc'

## Dictionaries

In [46]:
d = {'key1':'item1','key2':'item2'}

In [47]:
d

{'key1': 'item1', 'key2': 'item2'}

In [48]:
d['key1']

'item1'

## Booleans

In [49]:
True

True

In [50]:
False

False

## Tuples

In [51]:
t = (1,2,3)

In [53]:
t[0]

1

## Sets

In [55]:
{1,2,3}

{1, 2, 3}

In [56]:
{2,1,2,3,1,2,3,1,2,3,3,3,3,2,2,2,1,1,2,3}

{1, 2, 3}

## Comparison Operators

In [57]:
2 > 1

True

In [58]:
2 < 2

False

In [59]:
1 >= 1

True

In [60]:
1 <= 3

True

In [61]:
2 == 2

True

In [62]:
'hot' == 'cold'

False

## Logic Operators

In [63]:
(3 > 2) and (2 < 3)

True

In [64]:
(0 > 2) or (2 < 3)

True

In [65]:
(1 == 2) or (2 == 3) or (4 == 5)

False

In [66]:
(1 == 2) or (2 == 2) or (4 == 5)

True

## if,elif, else Statements

In [67]:
if 1 < 2:
    print('Yes')

Yes

In [69]:
if 1 < 2:
    print('yes')

yes

In [70]:
if 1 < 0:
    print('first')
else:
    print('last')

last

In [71]:
if 2 > 1:
    print('first')
else:
    print('last')

first

In [72]:
if 1 == 2:
    print('first')
elif 3 == 4:
    print('middle')
else:
    print('Last')

Last

## for Loops

In [74]:
seq1 = [1,2,3,4,5,6]

In [75]:
for item in seq1:
    print(item)

1
2
3
4
5
6

In [76]:
for item in seq1:
    print('Yes')

Yes
Yes
Yes
Yes
Yes
Yes

In [77]:
for x in seq1:
    print(x + x)

2
4
6
8
10
12

## while Loops

In [78]:
i = 1
while i < 7:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5
i is: 6

## range()

In [79]:
range(7)

range(0, 7)

In [80]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [81]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

## list comprehension

In [82]:
x = [1,2,3,4,5]

In [83]:
out = []
for item in x:
    out.append(item**3)
print(out)

[1, 8, 27, 64, 125]

In [84]:
[item**3 for item in x]

[1, 8, 27, 64, 125]

## functions in python

In [85]:
def my_func(param1='default'):
    """
    add docstring here.
    """
    print(param1)

In [86]:
my_func

In [87]:
my_func()

default

In [88]:
my_func('abc')

abc

In [94]:
my_func(param1='xyz')

xyz

In [95]:
def square(x):
    return x**3

## hint of lambda

In [99]:
def times2(var):
    return var*5

In [100]:
times2(3)

15

In [101]:
lambda var: var*2

## filter

In [102]:
seq = [1,2,3,4,5,6]

In [103]:
map(times2,seq)

In [104]:
list(map(times2,seq))

[5, 10, 15, 20, 25, 30]

In [106]:
list(map(lambda var: var*3,seq))

[3, 6, 9, 12, 15, 18]

In [107]:
filter(lambda item: item%2 == 0,seq)

In [108]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4, 6]

## few methods

In [109]:
string1 = 'hello my name is Joe'

In [110]:
string1.lower()

'hello my name is joe'

In [112]:
string1.upper()

'HELLO MY NAME IS JOE'

In [113]:
string1.split()

['hello', 'my', 'name', 'is', 'Joe']

In [114]:
hash1 = 'Go Joe! #Python'

In [115]:
hash1.split('#')

['Go Joe! ', 'Python']

In [116]:
hash1.split('#')[1]

'Python'

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [117]:
d.keys()

dict_keys(['key1', 'key2'])

In [118]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [119]:
lst = [1,2,3,4,5]

In [120]:
lst.pop()

5

In [121]:
lst

[1, 2, 3, 4]

In [122]:
'x' in [1,2,3,4,5]

False

In [123]:
'x' in ['x','y','z']

True